<div>
  <video src="/stream/<%= @stream_id %>"
    controls></video>
  <h1 id="caption"></h1>
</div>

<div>
  <div id="controller">
    Take control
  </div>
</div>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>
  $(require("web/static/js/video").run);
</script>
