.video-body {
  margin: 0;
}

video {
  object-fit: cover;
}

#caption {
  position: absolute;
  color: #FFF;
  text-align: center;
  margin: 0;
  top: 80%;
  z-index: 90000000001;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

#caption:empty {
  padding: 0;
}

.hangout {
  position: absolute;
  margin-top: -25%;
}

#user video {
  width: 25%;
}

#partner video {
  width: 75%;
}

#partner {
  margin-left: 80%;
  margin-right: 0;
  padding-right: 0;
  text-align: right;
}

.btn {
  background-color: blue;
  color: white;
  /* border: thick; */
  /* border-width: 1px; */
}

.btn:hover {
  color: red;
}
